<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
  <li><%= link_to task.title, task_path(task.id) %><%= task.completed %></li>
  <% end %>
  </br>  </br>
  </br>
  </br>

</ul>
  <%= link_to 'add a new task', new_task_path  %>
